version: '3.8'

services:
  bot:
    build: .
    container_name: order_generator_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
      - ./outputs:/app/outputs
      - ./test/res:/test/res
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - PYTHONUNBUFFERED=1
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/orderdb
      - DEBUG_SNAPSHOTS_DIR=/test/res

  postgres:
    image: postgres:15-alpine
    container_name: order_generator_db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=orderdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    # ports:
    #   - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h 127.0.0.1 -p 5432 -U $${POSTGRES_USER} -d postgres"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s

volumes:
  pgdata:
